@charset "UTF-8";

/* 
    Paleta de cores (do Guanabara)
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(to top, #49a09d, #5f2c82); */
    background: #5f2c82;
    height: 100vh;
}

#login {
    height: 400px;
    width: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* border: 2px solid white; */
    border-radius: 16px;

    box-shadow: rgba(0, 0, 0, 0.726) 1px 1px 4px;
}

#imagem {
    height: 40%;
    background-color: yellow;
    background-image: url('../imagens/building-peq.jpg');
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

#formulario {
    height: 60%;
    background-color: white;
    border-radius: 0px 0px 16px 16px;

    padding: 10px;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario p {
    text-align: left;
    font-size: 12px;

    margin-top: 10px; /* poderia ser margin-bottom no h1 */
}

form {
    background-color: green;
}

input {
    position: relative;
    display: block;
    /* margin: auto; */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 18%;

    border-radius: 7px;

    background-color: #94cfcd;
}

input:focus {
    background-color: white;
}

#labellog {
    background-color: #5f2c82;
    border-radius: 4px;

    position: absolute;
    width: 90%;
    height: 2em;
    top: calc(60.5% + 2em);
    left: 5%;
}

#labelpass {
    background-color: #5f2c82;
    border-radius: 4px;

    position: absolute;
    width: 90%;
    height: 2em;
    top: calc(61% + 4em);
    left: 5%;
}

#submiti {
    background-color: #53aaa7;
    color: white;

    position: absolute;
    width: 90%;
    height: 2.5em;
    top: calc(62.3% + 7em);
    left: 5%;

    border-radius: 4px;
}

#submiti:hover{
    background-color: #2d6462;
}