@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') center / cover no-repeat fixed;
    /* Aparentemente, um min-height aqui não impede o navegador de encolher em altura. */
    min-width: 320px; /* Já esse não é alcançado */
}

img.iphone, div.fra, iframe {
    position: absolute;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

div.fra {
    background-color: yellow;
    height: 470px;
    width: 266px;
    margin-top: 3px;
    margin-left: 1px;
}

iframe {
    height: 470px;
    width: 267px;
    margin-top: 3px;
    margin-left: 1px;
}

div.container {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 10px;
    position: fixed;
    right: 10px;
}

img.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}